streamlit>=1.40.0
streamlit-folium>=0.24.0
branca>=0.7.0
folium>=0.15.0
geopandas>=1.0.0
numpy>=1.26.0
pandas>=2.1.0
pyproj>=3.6.0
requests>=2.31.0
shapely>=2.0.0
timezonefinder>=6.5.0
tzdata>=2024.1
python-dotenv>=1.0.0